/* Define styles for the heading */
h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #4CAF50;
  }
  
  /* Define styles for the image */
  img {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
  
  /* Define styles for the paragraph */
  p {
    text-align: center;
    font-size: 20px;
    color: #333;
    margin: 20px 0;
  }
  
  /* Define styles for the button */
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Add hover effect to the button */
  button:hover {
    background-color: #3E8E41;
  }

  li {
    font-size: 20px;
    color: #333;
    margin: 10px 0;
  }

  h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: red;
  }

  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

.input-container{
    width: 250px;
    border: 1px solid #a9a9a9;
    display: inline-block;
}
.input-container input:focus, .input-container input:active {
    outline: none;
}
.input-container input {
    width: 80%;
    border: none;
}

.input-container button {
    float: right;
}

.slides {display:none;}



.carousel-inner {
  /* make sure your .items will get correct height */
  height: 100%;
}

.item {
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.item img {
}
