{% extends "base.html" %} 

{% block content %}
    <div class="body">
        <button onclick="toggleDarkMode()" id="dark-mode">Toggle Dark Mode</button>
        <div class="logo-container">
            <img src="/static/images/Logo.png" alt="Logo" class="logo img">
        </div>
        <div class="sidebar">
            <a href="/">Logout</a>
            <a href="/home">Home</a>
            <a class="active" href="/team">Meet the Team</a>
            <a href="/feedback">User Feedback</a>
            <a href="/games">Games</a>
        </div>

        <h1>Games</h1>
        <h2>Word Search</h2>
        <p>
            The first game you can play is Word Search, where you're allowed to enter as many ingredients
            you want and try searching for them in a randomnized puzzle.
        </p>
        <label for="text-box">Enter ingredients:</label>
        <input type="text" id="text-box" onkeydown="storeIngredient(event)">
        <div id = "currItems"></div>
        <button onclick="generatePuzzle()">Generate Puzzle</button>
        <div id="puzzlePlaceholder"></div>
        
        <script>
            let currItems = [];

            function generatePuzzle() {
                fetch("/generate-puzzle", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        currItems: currItems
                    })
                }).then((response) => {
                    return response.json();
                }).then((str) => {
                    addPuzzle(str);
                });

                currItems = [];
            }

            function addPuzzle(data) {
                const puzzlePlaceholder = document.getElementById("puzzlePlaceholder");
                while (puzzlePlaceholder.firstChild) {
                    puzzlePlaceholder.removeChild(puzzlePlaceholder.firstChild);
                }
                const div = document.createElement('div');
                div.className = 'puzzle-container';

                const lines = data.puzzle.split('\n'); // split puzzle by newline character

                lines.forEach(line => {
                    const p = document.createElement('p');
                    p.innerHTML = line.replace(/ /g, '&nbsp;'); // replace spaces with non-breaking spaces
                    div.appendChild(p);
                });

                puzzlePlaceholder.appendChild(div)
            }

            function storeIngredient(event) {
                if (event.keyCode === 13) { // check if Enter key was pressed
                    let data = document.getElementById("text-box").value;
                    currItems.push(data)
                    document.getElementById("text-box").value = "";
                    updateItems();
                }
            }

            function updateItems() {
                const currItemsDiv = document.getElementById('currItems');
                const itemList = document.createElement('ul');

                currItems.forEach(item => {
                const listItem = document.createElement('li');
                listItem.textContent = item;
                itemList.appendChild(listItem); 
                });

                currItemsDiv.innerHTML = ''; // Clear the contents of the div
                currItemsDiv.appendChild(itemList); // Add the unordered list to the div
            }
        </script>
    </div>
{% endblock %}