<!DOCTYPE html>
<html>
<head>
  <title>Smart Recipes</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body class="body">
  <div class="logo-container">
    <img src="/static/images/Logo.png" alt="Logo" class="logo">
  </div>
  <div class="sidebar">
    <a href="/" class = "readable">Logout</a>
    <a href="/home">Home</a>
    <a href="/team">Meet the Team</a>
    <a href="/feedback">User Feedback</a>
  </div>
  <h1 class="h1">Smart Recipes</h1>
  <div class="image-carousel">
		<img src="/static/images/Cooking.jpg" alt="Cooking Pan" class="active img">
    <img src="/static/images/Variety_Food.jfif" alt="Variety of food" class="img">
    <img src="/static/images/Pancakes.jpg" alt="Pancakes" class="img">
	</div>
  <p>Welcome to Smart Recipes, a website where users can enter different types of ingredients 
    to figure all the different dishes that can be made with the ingredients.</p>
  <form method="post">
    <button type="submit" name = 'Speak' onclick="sendToSpeech()">Start saying ingredients</button>
  </form>
  <form onsubmit="clearAllFields()" class="form">
    <form class="form">
      <label for="text-box">Enter ingredients:</label>
      <input type="text" id="text-box" onkeydown="handleEnterKeyDown(event)">
    </form>
    <form class="form">
      <input type="file" id="imageInput" accept="image/*">
      <button type="button" name = 'Scan' onclick="sendImageToBarcodeScanner()">Scan Barcode</button>
    </form>
  </form class="form">
  <form class="form">
    <button type="button" name = 'Read' onclick="readWebpage()">Read Webpage</button>
  </form>
  <form class="form">
    <button type="button" name = 'Search' onclick="displayItems()">Complete Search with ingredients</button>
  </form>
  <form class="form">
    <button type="button" name = 'clear' onclick="clearItems()">Clear Items</button>
  </form>
  <h2>Current Items:</h2>
  <ul id = "items"></ul>
  <script>
    function displayItems() {
      fetch("/searchItems", {
        method: "POST",
      }).then((response) => {
        window.location.href = response.url;
      });
    }
    
    function sendImageToBarcodeScanner() {
      var imageInput = document.getElementById("imageInput");
      var image = imageInput.files[0];

      var formData = new FormData();
      formData.append("image", image);

      fetch("/scan-barcode", {
        method: "POST",
        body: formData
      }).then((response) => {
        return response.json(); // Parse response as JSON data
      }).then((items) => {
        addListItems(items)
      })
    }

    function sendToSpeech() {
      event.preventDefault();
      fetch("/speech", {
        method: "POST",
      }).then((response) => {
        return response.json(); // Parse response as JSON data
      }).then((items) => {
        addListItems(items)
      })
    }

    function clearItems() {
      fetch("/removeItems", {
        method: "POST",
      }).then(response => {
        var itemsList = document.getElementById("items");
        itemsList.innerHTML = "";
      })
    }

    function handleEnterKeyDown(event) {
      if (event.keyCode === 13) { // check if Enter key was pressed
        event.preventDefault();
        let data = { ingredients: document.getElementById("text-box").value};
        fetch("/text", {
          method: "POST",
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        }).then((response) => {
          return response.json();
        }).then((items) => {
          addListItems(items)
        })
     }
    }

    function startCarousel() {
			var images = document.querySelectorAll(".image-carousel img");
			var index = 0;
			setInterval(function() {
				images[index].classList.remove("active");
				index = (index + 1) % images.length;
				images[index].classList.add("active");
			}, 3000);
		}
		startCarousel();

    function clearAllFields() {
      var inputFields = document.querySelectorAll('input, textarea');

      for (var i = 0; i < inputFields.length; i++) {
        if (inputFields[i].type === 'file') {
          inputFields[i].value = null;
        } else {
          inputFields[i].value = "";
        }
      }
    }

    function addListItems(items) {
      var itemsList = document.getElementById("items");
      itemsList.innerHTML = "";
      for (let item of items) { 
        var li = document.createElement("li");
        var text = document.createTextNode(item);
        li.appendChild(text);
        // Create the remove button
        const removeButton = document.createElement("button");
        removeButton.innerText = "Remove";
        removeButton.classList.add("remove-button");
        removeButton.addEventListener("click", () => {
          const itemText = text.textContent;
          fetch("/removeSingleItem", {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({itemText: itemText})
          }).then((response) => {
            return response.json();
          }).then((items) => {
            addListItems(items)
          })
        });
        li.appendChild(removeButton);
        itemsList.appendChild(li); 
      } 
    }
  </script>
  <script src="{{url_for('static', filename='html_utils.js')}}"></script>
</body>
</html>