{% extends "base.html" %} 

{% block content %}
    <div class="body container">
        <div class="username">
            {{ items.username }}
        </div>
        <button onclick="toggleDarkMode()" id = "dark-mode">Toggle Dark Mode</button>
        <div class="logo-container">
            <img src="/static/images/Logo.png" alt="Logo" class="logo">
        </div>
        <div class="sidebar">
            <a onclick="logout()">Logout</a>
            <a href="/home">Home</a>
            <a href="/team">Meet the Team</a>
            <a href="/feedback">User Feedback</a>
            <a href="/games">Games</a>
        </div>
        <h1 class="h1">Smart Recipes</h1>
        <div class="image-carousel">
                <img src="/static/images/Cooking.jpg" alt="Cooking Pan" class="active img">
            <img src="/static/images/Variety_Food.jfif" alt="Variety of food" class="img">
            <img src="/static/images/Pancakes.jpg" alt="Pancakes" class="img">
            </div>
        <p>Welcome to Smart Recipes, a website where users can enter different types of ingredients 
            to figure all the different dishes that can be made with the ingredients.</p>
        <form method="post">
            <button type="submit" name = 'Speak' onclick="sendToSpeech()">Start saying ingredients</button>
        </form>
        <form class="form">
            <input type="file" id="imageInput" accept="image/*">
            <button type="button" name = 'Scan' onclick="sendImageToBarcodeScanner()">Scan Barcode</button>
        </form>
        <form class="form">
            <input type="file" id="imageInputAI" accept="image/*">
            <button type="button" name = 'runAI' onclick="sendImageToAI()">Run AI model</button>
        </form>
        <form class="form">
            <button type="button" name = 'Read' onclick="readWebpage()">Read Webpage</button>
        </form>


        <form class="form">
            <button type="button" name = 'pic' onclick="takePicture()">Take Picture</button>
        </form>
        <form onsubmit="clearAllFields()" class="form">
            <form class="form">
            <label for="text-box">Enter ingredients:</label>
            <input type="text" id="text-box" onkeydown="handleEnterKeyDown(event)">
            </form>
        </form class="form">
    
        <button type="button" name = 'clear' onclick="selectAll()">Select or Deselect All</button>
        <button type="button" name = 'clear' onclick="remove()">Remove Selected Ingredients</button>
        <button type="button" name = 'Search' onclick="search()">Find Recipes</button>

        <h2>Current Items:</h2>

        <div class="container ingredients" id="ingredients">
            {% for ingredient in session['ingredients'] %}
                <div class="form-check" id="{{ ingredient }}">
                    <input class="form-check-input" name="ingredient" type="checkbox" value="" id="flexCheckDefault" checked="true">
                    <label class="form-check-label" for="flexCheckDefault">
                        {{ ingredient[0]|upper }}{{ ingredient[1:] }}
                    </label>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}