<!DOCTYPE html>
<html>
<head>
  <title>Smart Recipes</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
  <h1>Smart Recipes</h1>
  <img src="/static/Cooking.jpg" alt="Cooking Pan">
  <p>Welcome to Smart Recipes, a website where users can enter different types of ingredients 
    to figure all different all dishes that can be made with the ingredients.</p>
  <h2>List:</h2>
  <ul>
    {% for item in items %}
        <button class="accordion">{{ item._source.title }}</button>
        <div class="panel">
            <p>
                {{ item._source.ingredients }}
                <br>
                {{ item._source.instructions }}
            </p>
        </div>
    {% endfor %}
  </ul>

  <form>
    <button type="button" name = 'Read' onclick="readWebpage()">Read Webpage</button>
  </form>

  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }

    function readWebpage() {
      var data = { webpage: 'templates/list.html' };
      fetch("/read-page", {
        method: "POST",
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
    }
  </script>

</body>
</html>
