<!DOCTYPE html>
<html>
<head>
  <title>Smart Recipes</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
  <div class="back-button" onclick="goBack()">Back</div>
  <div class="logo-container">
    <img src="/static/Logo.png" alt="Logo" class="logo">
  </div>
  <h1>Smart Recipes</h1>
  <h2>List of Recipes:</h2>
  <ul>
    {% for item in items %}
        <button class="accordion">{{ item.title }}</button>
        <div class="panel">
            <strong>Ingredients</strong>
            <ul>
                {% for ingredient in item.ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
            <br>
            <strong>Instructions</strong>
            <br>
                {{ item.instructions }}
        </div>
    {% endfor %}
  </ul>

  <form>
    <button type="button" name = 'Read' onclick="readWebpage()">Read Webpage</button>
  </form>

  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
        panel.style.display = "none";
        } else {
        panel.style.display = "block";
        }
    });
    }


    function readWebpage() {
      var data = { webpage: 'templates/list.html' };
      fetch("/read-page", {
        method: "POST",
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
    }

    function hideButtonWhenScrolled(buttonClass) {
      window.addEventListener("scroll", function() {
        var button = document.querySelector(buttonClass);
        if (window.scrollY > 0) {
          button.classList.add("hidden");
        } else {
          button.classList.remove("hidden");
        }
      });
    }

    hideButtonWhenScrolled(".back-button");
    hideButtonWhenScrolled(".logo-container");

		function goBack() {
  			window.history.back();
		}
  </script>

</body>
</html>
