{% extends "base.html" %}

{% block content %}
<div class="body container">
    <div class="logo-container">
        <img src="/static/images/Logo.png" alt="Logo" class="logo">
    </div>
    <h1 class="h1">Smart Recipes</h1>
    <h2>{{ recipe.title }}</h2>

    <div class="recipe-content">
        <strong>Ingredients</strong>
        <ul>
            {% for ingredient in recipe.ingredients %}
            <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
        <br>
        <strong>Instructions</strong>
        <br>
        {{ recipe.instructions }}
    </div>
</div>

<script>

    hideWhenScrolled(".logo-container");
  </script>
{% endblock %}