{% extends "base.html" %} 

{% block content %}
    <div class="body">
        <button onclick="toggleDarkMode()" id = "dark-mode">Toggle Dark Mode</button>
        <div class="logo-container">
            <img src="/static/images/Logo.png" alt="Logo" class="logo">
        </div>

        <div class="sidebar">
            <a href="/">Logout</a>
            <a href="/home">Home</a>
            <a class="active" href="/team">Meet the Team</a>
            <a href="/feedback">User Feedback</a>
            <a href="/games">Games</a>
        </div>

        <div class="content">
            <h1>Meet the Team</h1>
            <p>We are the creators of Smart Recipes!</p>

            <h2>Team Members</h2>
            <ul>
                <li class = "team_names">Blake Whitman</li>
                <img src="/static/images/Blake.png" alt="Blake's picture" class = "team_pics">
                <li class = "team_names">Abd Elrahman Ibrahim</li>
                <img src="/static/images/Abdelrahman.jpg" alt="Abd Elrahman's picture" class = "team_pics">
                <li class = "team_names">Sam Chlystek</li>
                <img src="/static/images/Sam.jpg" alt="Sam's picture" class = "team_pics">
                <li class = "team_names">Waris Mazhar</li>
                <img src="/static/images/Waris.jpg" alt="Waris's picture" class = "team_pics">
                <li class = "team_names">Tian Chen</li>
                <img src="/static/images/Tian.jpg" alt="Tian's picture" class = "team_pics">
                <li class = "team_names">Jacob Hatef</li>
                <img src="/static/images/Jacob.jpeg" alt="Jacob's picture" class = "team_pics">
                <li class = "team_names">Yusuf Abdirahman</li>
                <img src="/static/images/Yusuf.JPG" alt="Yusuf's picture" class = "team_pics">
                <li class = "team_names">Peter Lei</li>
                <img src="/static/images/Peter.jpg" alt="Peter's picture" class = "team_pics">
            </ul>
            
            <h2>Contact Us</h2>
            <p>Have questions or feedback about Smart Recipes? Contact us at info@smartrecipes.com.</p>

            <form>
                <button type="button" name = 'Read' onclick="readWebpage()">Read Webpage</button>
            </form>
        </div>
    </div>
	<script>
		hideLogoWhenScrolled(".logo-container");
	</script>
{% endblock %}
