<!DOCTYPE html>
<html>
<head>
	<title>Our Team</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
	<div class="logo-container">
		<img src="/static/Logo.png" alt="Logo" class="logo">
	</div>

	<div class="sidebar">
		<a href="/">Home</a>
		<a class="active" href="/team">Meet the Team</a>
		<a href="/feedback">User Feedback</a>
	</div>

	<div class="content">
		<h1>Meet the Team</h1>
		<p>We are the creators of Smart Recipes!</p>

		<h2>Team Members</h2>
		<ul>
			<li>Blake Whitman</li>
			<li>Abd Elrahman Ibrahim</li>
			<li>Sam Chlystek</li>
			<li>Waris Mazhar</li>
			<li>Tian Chen</li>
			<li>Jacob Hatef</li>
			<li>Yusuf Abdirahman</li>
			<li>Peter Lei</li>
		</ul>

		<h2>About Smart Recipes</h2>
		<p>Smart Recipes is a website that allows users to enter different types of ingredients to figure out all the different dishes that can be made with those ingredients.</p>

		<h2>Contact Us</h2>
		<p>Have questions or feedback about Smart Recipes? Contact us at info@smartrecipes.com.</p>

		<form>
			<button type="button" name = 'Read' onclick="readWebpage()">Read Webpage</button>
		</form>
	</div>

	<script>
		function hideLogoWhenScrolled(logoClass) {
			window.addEventListener("scroll", function() {
				var logo = document.querySelector(logoClass);
				if (window.scrollY > 0) {
					logo.classList.add("hidden");
				} else {
					logo.classList.remove("hidden");
				}
			});
		}

		hideLogoWhenScrolled(".logo-container");

		function readWebpage() {
			// Get the rendered HTML content of the page
			var content = document.documentElement.outerHTML;
			
			var data = { webpage: content };
			fetch("/read-page", {
				method: "POST",
				headers: {
				'Content-Type': 'application/json'
				},
				body: JSON.stringify(data)
			})
		}
	</script>
</body>
</html>