<!doctype html>
<html lang="en">
<head>
  <title>Smart Recipes</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
<body>
  <h1>Smart Recipes</h1>
  <div >
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

      <div class="carousel-inner container-md">
        <div class="item active image-md">
          <img src="/static/images/img1.jpg" class=".d-block w-100" alt="First slide">
        </div>
        <div class="item image-md">
          <img src="/static/images/img2.jpg" class="d-block w-100" alt="Second slide">
        </div>
        <div class="item image-md">
          <img src="/static/images/img3.jpg" class="d-block w-100" alt="Third slide">
        </div>
        <div class="item image-md">
          <img src="/static/images/img4.jpg" class="d-block w-100" alt="Fourth slide">
        </div>
        <div class="item image-md">
          <img src="/static/images/img5.jpg" class="d-block w-100" alt="Fifth slide">
        </div>
      </div>
    </div>
  </div>

  <p>Welcome to Smart Recipes, a website where users can enter different types of ingredients 
    to figure all different all dishes that can be made with the ingredients.</p>

    <form method = "post">
    <div class="input-group d-flex">

      <div class="input-group-prepend">
            <button class="btn btn-primary btn-lg" type="submit" name="Speak" >Speak</button>
      </div>
      <input type="text" class="form-control p-2 d-flex" placeholder="type ingredients or ask for recipe" aria-label="" aria-describedby="basic-addon1">
    </div>
    </form>

  <form>
    <input type="file" id="imageInput rounded" accept="image/*" oninput="sendImageToBarcodeScanner()">
  </form>
  <script>
    function sendImageToBarcodeScanner() {
      var imageInput = document.getElementById("imageInput");
      var image = imageInput.files[0];

      var formData = new FormData();
      formData.append("image", image);

      fetch("/scan-barcode", {
        method: "POST",
        body: formData
      }).then((response) => {
        return response.text();
        }).then((html) => {
            document.body.innerHTML = html
        });
    }
  </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>
