<!DOCTYPE html>
<html>
<head>
  <title>Smart Recipes</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
  <h1>Smart Recipes</h1>
  <img src="/static/Cooking.jpg" alt="Cooking Pan">
  <p>Welcome to Smart Recipes, a website where users can enter different types of ingredients 
    to figure all different all dishes that can be made with the ingredients.</p>
  <form method="post">
    <button type="submit" name = 'Speak'>Start saying ingredients</button>
  </form>
  <label for="text-box">Enter ingredients:</label>
  <input type="text" id="text-box" onkeydown="handleEnterKeyDown(event)">
  <form>
    <input type="file" id="imageInput" accept="image/*">
    <button type="button" name = 'Scan' onclick="sendImageToBarcodeScanner()">Scan Barcode</button>
  </form>
  <form>
    <button type="button" name = 'Read' onclick="readWebpage()">Read Webpage</button>
  </form>
  <script>
    function sendImageToBarcodeScanner() {
      var imageInput = document.getElementById("imageInput");
      var image = imageInput.files[0];

      var formData = new FormData();
      formData.append("image", image);

      fetch("/scan-barcode", {
        method: "POST",
        body: formData
      }).then((response) => {
        window.location.href = response.url;
        // return response.text();
        });
    }

    function readWebpage() {
      var data = { webpage: 'templates/webpage.html' };
      fetch("/read-page", {
        method: "POST",
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
    }

    function handleEnterKeyDown(event) {
      if (event.keyCode === 13) { // check if Enter key was pressed
        let data = { ingredients: document.getElementById("text-box").value};
        fetch("/text", {
          method: "POST",
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        }).then((response) => {
          window.location.href = response.url;
        });
      }
    }
  </script>
</body>
</html>