<!DOCTYPE html>
<html>
<head>
  <title>Smart Recipes</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
  <h1>Smart Recipes</h1>
  <img src="/static/Cooking.jpg" alt="Cooking Pan">
  <p>Welcome to Smart Recipes, a website where users can enter different types of ingredients 
    to figure all different all dishes that can be made with the ingredients.</p>
  <form method="post">
    <button type="submit" name = 'Speak'>Start saying ingredients</button>
  </form>
  <form>
    <input type="file" id="imageInput" accept="image/*">
    <button type="button" name = 'Scan' onclick="sendImageToBarcodeScanner()">Scan Barcode</button>
  </form>
  <form>
    <button type="button" name = 'Read' onclick="readWebpage()">Read Webpage</button>
  </form>
  <script>
    function sendImageToBarcodeScanner() {
      var imageInput = document.getElementById("imageInput");
      var image = imageInput.files[0];

      var formData = new FormData();
      formData.append("image", image);

      fetch("/scan-barcode", {
        method: "POST",
        body: formData
      }).then((response) => {
        return response.text();
        }).then((html) => {
            document.body.innerHTML = html
        });
    }

    function readWebpage() {
      var data = { webpage: 'templates/webpage.html' };
      fetch("/read-page", {
        method: "POST",
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
    }
  </script>
</body>
</html>